:root {
    --main-color: #6D6E7B;
    --white: #fff;
    --nav-text-color: #424242;
    --black: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f5f5;
}

/* Main Page Styles  */
.nav_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    position: relative;
    z-index: 10;
}

.header_nav {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    width: 100%;
}

.nav_list {
    list-style-type: none;
    margin: 10px;
}

.nav_list li {
    display: inline-block;
    margin: 10px 20px;
}

.nav_list li a {
    text-decoration: none;
    color: var(--black);
    font-size: 19px;
    font-weight: 600;
    position: relative;
}

.header_nav img {
    border-radius: 100px;
    margin-right: 30px;
}

.nav_list li a::after {
    content: "";
    background-color: var(--main-color);
    bottom: -5px;
    height: 4px;
    width: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: width 0.2s ease-in-out;
}

.nav_list li a:hover::after {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 10%;
    z-index: 0;
    gap: 60px;
}

.main_desc {
    max-width: 700px;
}

.main_desc p {
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.main_desc h1 {
    color: #333333;
}

.main_desc .name,
.main_desc .title {
    color: #e33415;
}

.main_image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-top: -50px;
    transition: opacity .6s ease;
}

.main_image img:hover {
    opacity: 1;
}

/* Projects Page Styles  */

.project_container {
    display: flex;
    padding: 20px;
    background-color: var(--white);
    max-width: 1200px;
    justify-content: flex-start;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    gap: 20px;
    cursor: pointer;
}

.project_desc {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    justify-content: right;
    margin: 20px auto;
    gap: 16px;
}

.project_desc p {
    line-height: 30px;
}

.project_desc h3 {
    font-weight: 500;
    color: rgb(38, 21, 21);
    padding: 4px 0px;
}

.project_desc .tags {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
}

.project_desc .tags p {
    background-color: #0051ff;
    padding: 4px 12px;
    border-radius: 20px;
    color: #15e33b;
    font-weight: 700;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}


.main_text {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px 0px;
}

.main_text p {
    font-size: 36px;
    font-weight: 600;
}

.main_text span {
    font-size: 46px;
    color: #4A90E2;
}

/* Python Developer
            Back-End Developer
            Automation Specialist */